@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	font-family: 'Poiret One', cursive;
}

/* nav bar */

nav{

	padding: 30px;
}


nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li{
	display: inline;
}

nav li a{

	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

.active {
  background-color: #737373;
}

nav a.NavTitle{
	position: absolute;
	top: 5px;
	right: 50%;
	color: #a9a9a9;
	font-size: 50px;
	text-align: center;
}

/* End of nav*/

/* Home Page*/

body{
	background-color: #222222;
	background-image: url("ref/background.png");
	background-size: cover;
}

.homeback{
	position: relative;
	margin: auto;
	width: 100%;
}

.mySlides {
	display: none;	
}

img {
	vertical-align: middle;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  display: none;
}

/* Number text (1/7 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  display: none;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.HLogo{
	position: relative;
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo{
	display: block;
	width: 100%;
	top: 50%;
	left: 50%;
	border-radius: 15px;
	opacity: 50%;
}

.overlay{
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.HLogo:hover .overlay{
	opacity: 1;
}

.CodeLogo { 
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
}

.Menu{
	color: white;
}

.MenuLay{
	padding: 50px;
	margin: 50px;
	height: auto;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 10px;
}

.card {
  box-shadow: 0 15px 15px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  background-color: #212121;
  color: white;
  height: 400px;
  border-radius: 5px 5px 0 0;
}

.card-img{
	width: 200px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.AboutUs {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  box-sizing: border-box;
}

#myVideo {
  position: relative;
  left: 175px;
  width: 75%; 
  height: 75%;
}

.VContent {
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  margin: auto;
  width: 75%;
  padding: 10px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#myBtnM {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.card-text{
	padding: 15px;
	padding-top: 5px;
}

.card-header{
	padding: 10px;
}

/*End of Home*/

/*Menu buttons*/

.MenuButton{
	background-color: black;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 25px;
	cursor: pointer;
	border-radius: 12px;
}

.MenuButton:hover{
	background-color: gray;
}

.MenuButton:active{
	background-color: white;
}

/*End of buttons*/

/*footer*/
.Social{
	margin-top: 20px;
	background-color: black;
	height: auto;
}

.Social h1{
	color: white;
	font-size: 20;
}

.Social ul{
	margin: auto;
	width: 50%;
	height: 10%;
	list-style-type: none;
	padding-top: 15px;
	overflow: hidden;
}

.Social li a{
	color: white;
	padding: 14px 16px;
}

.Social li{
	display: inline;
	border-right: 1px solid #bbb;

}

.Social a{
	font-size: 1em;
	text-decoration: none;
	height: 1000px;
}

/*end footer*/

/*Menu*/

#btnIndex{
	position: fixed;
	right: 30px;
	bottom: 30px;
	font-size: 4em;
	border-radius: 50%;
	color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.25);
	border: none;
	outline: none;
	cursor: pointer;
}

#btnIndex:active{
	color: gray;
}

.btnIndex{
	display: none;
}

#btnIndex:hover p{
	display:inline-block;
}

/*End of Menu*/

